<footer class="footer">
    <div class="information_footer container">
        <div class="container_information row pt-4">

            <!-- Logo -->
            <div class="image_logo col-2">
                <a href="">
                    <img src="assests/logos/Logo White.svg" alt="">
                </a>
            </div>
    
            <!-- Mapa del sitio (Navegación) -->
            <nav class="site_map col-1" aria-label="Main site navigation">
                <h6>Site map</h6>
                <ul class="">
                    <li><a href="">Home</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a href="">Log In</a></li>
                </ul>
            </nav>
    
            <!-- Sección 'Sobre nosotros' -->
            <section class="about_us col-2">
                <h6>About Us</h6>
                <p>We connect entrepreneurs with clients and opportunities, providing a digital showcase for growing businesses.</p>
            </section>
    
            <!-- Sección de contacto y soporte -->
            <section class="support_contactUs col-3" aria-labelledby="support-contact">
                <h6>Support and Contact Us</h6>
                <p id="support-contact">Need help? Contact us through our support channels.</p>
                <p><span>Phone: </span>+57 321 850 9336</p>
                <p><span>Email: </span><a href="mailto:support@udeaemprende.com">supportudeaemprende.com</a></p>
            </section>
    
            <!-- Sección para crear negocios -->
            <section class="createBusiness col-4 my-auto">
                <h5>Want to showcase your business?</h5>
                <p>Join our platform and connect with more customers!</p>
                <button id="button_publish" class="roboto-medium">Publish My Business</button>
            </section>
        </div>
        <hr>
        <!-- Parte inferior del footer (Políticas y derechos) -->
        <div class="footer-bottom row">
            <p class="col-6"><a href="">Privacy Policy</a> | <a href="">Cookie Policy</a> | <a href="">Terms and Conditions</a></p>
            <p class="col-6 text-end">©2024 UdeA Emprend. All rights reserved</p>
        </div>
    </div>
</footer>