<footer>
    <div class="container_information">
        <div class="site_map">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Business</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Log In</a></li>
            </ul>
        </div>
        <div class="about_us">
            <p>We connect entrepreneurs with clientes and opportunities, providing a digital showcase for growing businesses.</p>
        </div>
        <div class="support_contactUs">
            <p>Need help? Contact us through our support channels.</p>
            <p><span>Phone: </span>+57 321 850 9336</p>
            <p><span>Email: </span>support#udeaemprende.com</p>
        </div>
        <div class="createBusiness">
            <h3>Want to showcase your business</h3>
            <p>Join our platform and connect with more customers!</p>
            <button>Publish My Business</button>
        </div>
    </div>
    <div class="downpart">
        <p><a href="">Privacy Politic</a> | <a href="">Cookie Policy</a> | <a href="">Terms and conditions</a></p>
        <p>©2024 UdeA Emprend. All rights reserved</p>
    </div>
</footer>
