.dropdown-item:hover {
    color: var(--success) !important;
}

.log-in-UdeA {
    border: none;
    transition: all ease 0.4s;
}

.log-in-UdeA:hover {

    background: #f8f9fa !important;
    color: #198754 !important;
}

.sign-in-UdeA {
    background-color: #f8f9fa;
    color: #198754 !important;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sign-in-UdeA:hover {
    background-color: #198754;
    color: #f8f9fa !important;
    border-color: #f8f9fa;
}