<footer class="footer">
    <div class="footer-container container pt-5">

        <div class="footer-top row">

            <!-- Logo -->
            <div class="footer_logo col-3 my-auto">
                <a href="">
                    <img src="assests/logos/Logo White.svg" alt="">
                </a>
            </div>

            <!-- Information Footer -->
            <div class="footer-info col-9 row">

                <!-- Site Map Section -->
                <nav class="site-map col-2">
                    <h6>Site Map</h6>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Business</a></li>
                        <li><a href="">Sign Up</a></li>
                        <li><a href="">Log In</a></li>
                    </ul>
                </nav>

                <!-- About Us Section -->
                <section class="about_us col-3">
                    <h6>About Us</h6>
                    <p>We connect entrepreneurs with clients and opportunities, providing a digital showcase for growing businesses.</p>
                </section>
                
                <!-- Support and Contact Us Section -->
                <section class="support_contactUs col-3">
                    <div>
                        <h6>Support and Contact Us</h6>
                        <p id="support-contact">
                            Need help? Contact us through our support channels.<br>
                            <span class="roboto-regular">Phone: </span>+57 321 850 9336<br>
                            <span class="roboto-regular">Email: </span>supportudeaemprende.com
                        </p>
                    </div>
                </section>


                <!-- Create Your Business Section -->
                <section class="createBusiness col-4">
                        <h5>Want to showcase your business?</h5>
                        <p>Join our platform and connect with more customers!</p>
                        <button id="button_publish" class="roboto-medium">Publish My Business</button>
                </section>
            </div>

        </div>

        <div class="footer-bottom">
            <hr>
            <div class="footer-bottom-information row">
                <p class="col-6"><a href="">Privacy Policy</a> | <a href="">Cookie Policy</a> | <a href="">Terms and Conditions</a></p>
                <p class="col-6 text-end">©2024 UdeA Emprend. All rights reserved</p>
            </div>
        </div>

    </div>  
</footer>
