<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicadores -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <!-- Contenido del carrusel -->
    <div class="carousel-inner">
        <!-- Item 1 -->
        <div class="carousel-item active">
            <img src="assets/slider_home/photo1.jpg" class="d-block w-100" alt="Descripción 1"
                style="object-fit: cover; height: 80vh; min-height: 400px;" loading="lazy">
            <div class="carousel-caption d-none d-md-block">
                <h5>Uniendo fuerzas por un mejor futuro</h5>
                <p>Juntos apoyamos a emprendedores y comunidades con recursos y oportunidades</p>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="carousel-item">
            <img src="assets/slider_home/photo2.jpg" class="d-block w-100" alt="Descripción2"
                style="object-fit: cover; height: 80vh; min-height: 400px;" loading="lazy">
            <div class="carousel-caption d-none d-md-block">
                <h5>Atención con una sonrisa</h5>
                <p>Detrás de cada negocio hay una historia de esfuerzo y pasión</p>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="carousel-item">
            <img src="assets/slider_home/photo3.jpg" class="d-block w-100" alt="Descripción"
                style="object-fit: cover; height: 80vh; min-height: 400px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Trabajo con esfuerzo y corazón</h5>
                <p>Cada día es una oportunidad para salir adelante. Los pequeños negocios son el alma de nuestras calles
                </p>
            </div>
        </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<app-footer></app-footer>