<app-header></app-header>

<h1 class="fw-bold fs-1 text-center my-5">About us</h1>

<div class="container-fluid mx-aut p-5">
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-8">
                <div class="card-body ">
                    <h3 class="card-title fs-2 fw-semibold text-center">What are we?</h3>
                    <p class="card-text fs-2 text-start">UdeA emprende is a comunity
                        project to
                        help the people who have a entrepreneurship, business or enterprise inside of we
                        Alma Máter Universidad de Antioquia.</p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6  d-flex align-items-center justify-content-center ">
                <img src="https://udea.edu.co/wps/wcm/connect/udea/657a4b31-1d95-471a-aa3f-fbec87e47fe9/1/Acreditaci%C3%B3n+principal.jpg?MOD=AJPERES"
                    alt="Image of logo" class="bg-success img-fluid rounded-start d-flex justify-content-center">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mx-auto p-5">
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-lg-4 col-md-6  d-flex align-items-center justify-content-center text-center">
                <img src="https://udea.edu.co/wps/wcm/connect/udea/657a4b31-1d95-471a-aa3f-fbec87e47fe9/1/Acreditaci%C3%B3n+principal.jpg?MOD=AJPERES"
                    alt="Image of logo" class="bg-success img-fluid rounded-start d-flex justify-content-center">
            </div>
            <div class="col-8">
                <div class="card-body ">
                    <h3 class="card-title text-start fs-2 fw-semibold text-center">What you can do in this web?</h3>
                    <p class="card-text fs-2 ">In this website you can from
                        create a
                        enterprise, share or simply navegative through the web page to find anything type
                        of a entepreneurship you want, separate by categories like food, cosmetics, entertainment,
                        sports and a lot more..</p>

                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="fw-bold fs-1 text-center my-5">History</h2>