* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --success: #198754;
    --dark-green: #0B8C38;
    --medium-green: #8CBF3F;
    --ligth-green: #BCD991;
    --very-ligth-green: #E8F4E1;
    --white: #FFFFFF;
    --icon: #EBEBEB;
    --black-soft: #565656;
    --black: #000000;
}

.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* Light */
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* Regular */
}

.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* Medium */
}

.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* Bold */
}

.roboto-thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* Thin */
}

/* Aplica roboto-light a todas las etiquetas <p> */
p,
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* Light */
}

/* Aplica roboto-bold a todas las etiquetas <h1>, <h2>, <h3>, <h4>, <h5>, <h6> */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* Bold */
}

a {
    text-decoration: none;
    /* Quita el subrayado */
    color: black;
    /* Cambia el color del enlace a negro, puedes usar cualquier color */
}