<section class="profile-section">
    <header class="profile-header">
        <div class="user-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <p class="user-name">Alexx</p>
        </div>

        <button class="btn-back">Back</button>
    </header>

    <form class="profile-form">
        <h4>Personal Data</h4>
        <hr>

        <fieldset>
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first_name" placeholder="Alexander">

            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last_name" placeholder="Osorio Trespalacios">

            <label for="phone-number">Phone Number</label>
            <input type="tel" id="phone-number" name="phone_number" placeholder="3137444865">

            <label for="occupation">Occupation</label>
            <select id="occupation" name="occupation"></select>

            <label for="document-type">Document Type</label>
            <select id="document-type" name="document_type"></select>

            <label for="document-number">Document Number</label>
            <input type="tel" id="document-number" name="document_number" placeholder="1022145229">

            <label for="ethnicity">Ethnicity</label>
            <select id="ethnicity" name="ethnicity"></select>

            <label for="vulnerability">Vulnerability</label>
            <select id="vulnerability" name="vulnerability"></select>
        </fieldset>
    </form>
</section>
